nav{
  background: #eee;
  display: block;
  width: 100vw;
}
nav a{
  text-decoration: none;
  color: #333;
  background: #eee;
  padding: 10px;
  display: inline-block;
  transition: 0.2s;
  
}
nav a:hover{
  background: #333;
  color: #fff;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
input{
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #aaa;
}